body{
  overflow-x:hidden;
}
@font-face {
  font-family: ProximaNovaSoft ;
  src: url("../Avenir/ProximaNovaSoft-Regular.otf");
}
@font-face {
  font-family: ProximaNovaSoft-Bold ;
  src: url("../Avenir/PROXIMA NOVA SOFT BOLD.OTF");
}
@font-face {
    font-family: Avenir;
    src: url("../Avenir/AvenirLTStd-Roman.otf");
}
@font-face {
    font-family: Avenir_book;
    src: url("../Avenir/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: Avenir_heavy;
  src: url("../Avenir/Avenir-Heavy.ttf");
}
@font-face {
  font-family: Avenir_medium;
  src: url("../Avenir/Avenir-Medium.ttf");
}
button:focus{
  outline:none !important;
}
nav.navbar{
  background-color: rgb(150, 150, 141);
  width: 100%;
}
.about_hr{
  display:none;
}
.pt-100{



}
#foot-img2{
  display:none;
}
.pt-100 img{
  width:100%
}
.pt-100 #mainBanner{
  width:100%;
  /* background-image: url("../avi.jpg"); */
}
.pb-30{
  padding-bottom: 30px;
}
.pb-20{
  padding-bottom: 20px;
      padding-top: 10px;
}
#mainBanner img{
  width: 100%;
  height: 70%
}
/* .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: yellow;
    border: 1px solid transparent;
    border-radius: .25rem;
} */
.navbar.navbar-expand-md.avinash{
  background-color: #fff;
  padding: 10px 15px 10px 15px;
}
.avinash .navbar-brand{color:rgba(196, 23, 23, 0.25);    margin-left: 3%;}
.avinash .navbar-brand:focus,.avinash .navbar-brand:hover{color:#fff}
.avinash .navbar-nav .nav-link{   
   height: 24px;
  font-family: ProximaNovaSoft;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);

}

#collapsibleNavbar{
margin-left: 39%;
    margin-top: 1%;
}
.con_colr{
  color:rgba(0, 0, 0, 0.87) !important;
}
.navbar-nav .active{
  color:#00bfa5;
}
.avinash .navbar-nav .nav-link:focus,.avinash .navbar-nav .nav-link:hover{color:#00bfa5;}
.avinash .navbar-nav .nav-link.disabled{color:rgba(255,255,255,.25);}
.avinash .navbar-nav .active>.nav-link,.avinash .navbar-nav .nav-link.active,.avinash .navbar-nav .nav-link.show,.avinash .navbar-nav .show>.nav-link{color:#00bfa5;
  font-family: ProximaNovaSoft;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #00bfa5;
  }

.avinash .navbar-toggler-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")}
.avinash .navbar-text{color:rgba(255,255,255,.5)}
.avinash .navbar-text a{color:#fff}
.avinash .navbar-text a:focus,.avinash .navbar-text a:hover{color:#fff}
.logo{
  display: block;
  width: 15%;
}
.logo img{
width: 330px;
}
.Banner_about{
      background: url(./assets/ngo/ps-img-6674@3x.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 78vh;
}
.Banner_home{
      background: url(./assets/ngo/ps-img-667.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 748px;
    width: 100%;
}
section.Banner{
  width: 100%;
  height: 96vh;
}
.imageBanner{
  height: 100%;
}
section.Banner .imageBanner img{
  width: 100%;
  height: 95%;
}
.imageBanner{
  position: relative;
  text-align: center;
  color: white;
}
.bannerAbout img{
 height:100% !important; 
}
.bannerEcolat img{
  height:98% !important;
}
.bannerCareer img{
  height:98% !important;
}
#bannerText{
  position: absolute;
  top: 13.5% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 868px;
  height: 76px;
  font-family: Avenir_heavy;
  font-size: 56px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#bannerTextCareer{
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 993px;
  height: 76px;
  font-family: Avenir_heavy;
  font-size: 56px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
#bannerTextAbout{
        position: absolute;
    top: 57%;
    left: 50%;
        text-shadow: black 1px 5px 16px;
    transform: translate(-50%, -50%);
    width: 1250px;
    height: 76px;
    font-family: Avenir_heavy;
    font-size: 56px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
#bannerTextEcolat{
  position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1250px;
    height: 76px;
    font-family: Avenir_heavy;
    font-size: 56px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff; 
}

#bannerTextRewater{
     position: absolute;
    top: 11.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1250px;
    height: 76px;
    font-family: Avenir_heavy;
    font-size: 56px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
/*.imgBanner {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}*/

.overlay {
  border-bottom: none;
  position: absolute;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  width: 100%;
  opacity: 1;
  margin-bottom: -3px;
      border-top-left-radius:90%;
    border-top-right-radius:90%;
  background-color: white;
}
.left{
  float: left;
}
.right{
  float: right
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.col-md-6.right{
  float: left;
  font-family: sans-serif;
  font-size: 20px;
  padding-left: 10px
}
/* .col-md-6.right p{

  font-family: sans-serif;
  font-size: 15px;
} */

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .container{
  background-color: grey
} */

/*Content section*/
section.content{
  margin-top: 0%;
  width: 100%;
}
.teamMembersInfo{

}
.advisors .row .col-md-4 .pb-20{
  margin-left: 5%;
  margin-right: 5%
}
.advisors .row .col-md-4 .pb-20 .teamImageWrapper{
  text-align: center
}
.advisors .row .col-md-4 .pb-20 .teamImageWrapper .teamMemberImage{
  height: 144px !important;
  width: 144px !important;
  margin: auto;
}
.advisors .row .col-md-4 .pb-20 .teamImageWrapper .teamMemberImage img{
  border-radius: 50%;
  height: 144px;
    width: 144px;
}
.investorName{
  font-family: Avenir_heavy;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 12px;
      margin-bottom: 2px;
}
.teamMembersDesignation{
  font-family: Avenir_book;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}
/* footer start */
/* #2E393D */
/* .footer {
  width: 100%;
  height: 350px;  
  color:#FFF;
  background-color: #2E393D
}

.footer:before
{
  width: 100%;
  height: 80px;
  border-radius:0 0 50% 50%;
  background-color:white;    
display: block;
  vertical-align: middle;
  margin-right: 140px;
  margin-bottom: 10px;
  content: '';
}
.footer .container .col-md-4{
  float: left;
} */

#footer {
  overflow: hidden;
  text-align: center;
}
#footer .wrap {
  background: #2e3139;
  width: 100%;
  padding-top: 1em;
  height: 450px;
}

.footer_u {
  width: 400px;
  margin-top: -16%;
  margin-left: 71%;
}
.footer-left{
  float:left;
  margin-top: 1%;
  padding:10px
}
.footer-right{
  float:right;
  margin-top: 1%;
  padding:10px
}
.bottom-logo-u{
  display:none;
}
.footer-mid{
  padding-left: 0;
  padding-top: 1rem;
  float:left;
  margin-top: 1%;
}
.footer-right img{
  width: 330px;margin-top: 153px;
  height: 180px;float: right;
}
.bottom-logo {
  width: 298px;
  margin-left: 45px;
  padding-left: 0;
  height: 9vh;
  margin-top: 2%;
}
/* footer end */
/*Social Media start*/
/* .demopadding img{
  width: 300px;
  padding-left: 10
} */
.demopadding {
  text-align: center;
  width:100%;
  padding: 10px;
  padding-bottom: 0;
  min-height: 60px;
}
.demopadding p{
  text-align: left;
  padding-left: 10%;
  font-family: sans-serif;
  font-size: 15px;
  color: #fff
}
.demopadding .icon {
text-align: right
}
.icon {
  position:relative;
margin-left: 10%;
  width:0px;
  height:0px;
  padding:20px;
  border-top-right-radius:  20px;
  border-top-left-radius:   20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius:  20px; 
  -moz-border-radius:     20px 20px 20px 20px;
  -webkit-border-radius:    20px 20px 20px 20px;
  -khtml-border-radius:     20px 20px 20px 20px;  

}
.micon{
  padding-left: 95px;
    display: -webkit-inline-box;
}
.footer_icon{
  padding: 0px 25px 0px 0px;
}
.footer_icon img{
      height: 48px;
    width: 48px;
}
.icon i {
  font-size:20px;
  position:absolute;
  left:9px;
  top:10px;
}
.icon.social {
  margin-left: 10px;
  float:left;
  margin:0 5px 0 0;
  cursor:pointer;
  background:#6d6e71 ;
  color:white;
  border: 1px solid white;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;  
}
.icon.social:hover {
  background:#262626 ;
  color:#6d6e71;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-filter: drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -moz-filter:  drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -ms-filter:     drop-shadow(0 1px 10px rgba(0,0,0,.8));
  -o-filter:    drop-shadow(0 1px 10px rgba(0,0,0,.8));
  filter:       drop-shadow(0 1px 10px rgba(0,0,0,.8));   
}
.icon.social.fb,.icon.social.tw,.icon.social.in{
  margin-left: 20px;
}
.icon.social.fb i {
  text-align: center;
  left:13px;
  top:10px;
}
.icon.social.tw i {
  left:11px;
}
.icon.social.in i {
  left:11px;
}

/* end */
/* form */
form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
 form .row input{
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  border: none;
  border-bottom: 1.5px solid #ccc;
  padding: 5px;
  margin-top: 2.5px;
  position: relative;
}

form .form-field {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 12.5px;
}
.row input{
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
}
#application-form input{
  margin-left: 0;
  border-radius:5px;
  font-family: FontAwesome;
}
.row input.col-md-5{
  margin-left: 1%;
}
.form-control{
  padding: 9px 23px;
  font-size: 0.8rem;
}
.msg{
  height: 130px;
  padding: 20px;
  resize: none
}
button[type=submit]{
  background-color: #00bfa5 !important;
  color: #fff  !important;
        padding: 15px 25px;
    margin-top: 2%;
    font-family: Avenir_heavy;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.contact-first-input{
  width:100% !important;
}
.modal-body{
  padding: 30px;
      font-family: Avenir_book;
    background: #00bfa5f5;
    color: #fff !important;
}
/*.row button{
background-color: #00bfa5;
align-content: center;
height: 40px;
width: 140px;
border: none;
margin-bottom: 10px;
margin-left: 40%;
cursor: pointer;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size:15px;
border-radius: 5px;
color: white 
}*/

/* button[type=button]:hover {
  background-color: #45a049;
}
button[type=button]:focus {
  outline:none !important;
} */
input:focus {
  outline:none !important;
}
.form-control::placeholder{
  padding: 0
}

/* form end */
/* partner */
.partner .left img{
  width: 30%;
  height: 30%;
  float: right
}

.partner .left.breakline{
border-left-color: #00bfa5;
border-left-style: solid;
}
.partner .left.breakline-right{
  border-right-color: t#00bfa5;
  border-left-style: solid; 
}
#partner1{
width: 443px;
height: 64px;
margin-top: 5px;
}
#partner2{
      width: 220px;
    height: 65px;
  margin-top: 5px;
}

#partner3{
  width: 70px;
  height: 70px;
  margin-top: 5px;
}
.col-md-4.problem{
  float: left;
  padding-top: 20px;

}
.col-md-4.problem img{
  float: left;
  width: 50px;
  height:50px
}
.col-md-4.problem p{
padding: 1%;
padding-left: 28%;
padding-top: 3%;
font-weight: bold;
height:30%
}
p.contact {
        font-size: 15px;
    font-family: Avenir_book;
    color: #ffffffe8;
    margin-left: 50px;
    line-height: 24px;
    margin-top: 5%;
    opacity: 0.7;
}
p.contact-right{
margin-top:10%;
}  
 /* p.heading,.heading{
}
font-size: 15px;
font-weight: bold;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} */
.bannertext{
  position: relative;
  top:-30%;
  left: 30%;
  font-family: Roboto;
  font-size: 3em;
  color: white
}
p ic{
  color: #00bfa5
}
.major-challenge{
  height:130px;
}
p.heading-text{
  font-family: Avenir_heavy;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-top: -3px;
  color: rgba(0, 0, 0, 0.87);
}

p.p-eco-text{
  font-family: Avenir_book;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffffe6;
  padding-bottom: 15px;
}

p.p-eco-text1{
      position: relative;
    font-family: Avenir_book;
    padding-top: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    margin-top: -5px;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 0px !important;
}
.partner-text{
  font-family: Avenir-Medium;
  font-size: 16px;
  line-height: 24px;
  color:#2e3139;
}
.p-text {
    font-family: Avenir_Heavy;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}
ib{
  font-family: Avenir_heavy
}
p.heading.content ice{
  font-family: ProximaNovaSoft-Bold;
  font-size: 86px;
  line-height: 32px;
  font-weight: bold;
}
p.heading.content{
      font-family: ProximaNovaSoft-Bold;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
}
.small-icon{
  width: 48px;
  height: 48px;
  padding: 0;
}
.text-center p.normal{
font-family: Verdana,sans-serif;
font-size: 15px;
margin-top: 15px;
}
.text-center p.content{

}
.row{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
.solution{
  width: 100%;
  height: auto;
}
.solution .col-md-7 {
  height: auto;
  float: left;
  margin-left: 0;
  padding-left: 0
}
 section.left{


}
 section.right{
 float: left;

}
 section.left img{
  height: 28px;
  width: 28px;
}
section.right p h6{
  font-family: sans-serif;
  font-weight: bold;

}
section.right p{
  font-family: Roboto;
  font-size: 15px;
}
.solution .slide{
  float: left;
  width: 100%;
  height: 450px;
top: 15%

}
section.slider{
  background-color: #32D2B1
}
.slide1{height: 320px;}
.container.mt-100.mb-100{
  height: 800px;
}
.slide2{
  background-size: cover;
  width: 100%;height: 500px;
  background-image: url('./assets/home/group-14 - Copy.png');
}
.solutionimage img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* slider 2 */
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border-radius: 0;
  border: none;
  background-color: none;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: .5;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}
.carousel-control.left {
  background-image: none;
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: none;
}

.carousel-control {
  padding-top:10.25%;
  width:5%;
}

/* ecolats content css */
.ecolats-right p{

  margin-top: 20px
}
.ecolats-right .img1{
  border-radius: 50%;
  height: 50%;
  width: 50%;
  margin-left: 20%
}
.ecolats-right .img2{
  border-radius: 50%;
  height: 30%;
  width: 30%;
  margin-left: 1%;
  
}
.ecolats-right .img3{
  border-radius: 50%;
  height: 35%;
  width: 35%;
  margin-left: 20%;
  margin-top: 10%
}
/* end */
/* partial text images */
p input[name="learn"]{
  margin-left: 5px;
  background-color: #fff;
    /* padding: 2px; */
    font-family: Avenir_heavy;
    font-size: 14px;
    border-width: thin;
    border-style: solid;
    width: 228px;
    text-align: center;
    border-radius: 4px;
    border-color: black;
    cursor: pointer;
    height: 56px;
}
p input[name="learn"]:hover{
  background-color: #00bfa5;
  text-align: center;

  cursor: pointer
}
p input[name="contact"]{
  background-color: #00bfa5;
  color: #fff;
margin-right: 20%;
  width: 150px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.story{
  padding-right: 65px !important;
    padding-left: 60px !important;
}
#parent1 {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-size: contain;
    margin-top: 0%;
    margin-left: 17%;
}

#parent2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: contain;
  margin-top: 6%;
  margin-left: -20%;
  
}
#parent3 {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-size: contain;
  margin-top: -25%;
  margin-left: 45%;
}
#parent4{
  width: 260px;
    height: 260px;
    border-radius: 50%;
    background-size: contain;
    margin-top: 4%;
    float: left;
    margin-left: -13%;
}
#parent5{
  width: 295px;
      height: 295px;
      border-radius: 50%;
      background-size: contain;
      margin-left: 35%;
      margin-top: -8%;  
}
#parent6{
 width: 220px;
 height: 220px;
 border-radius: 50%;
 background-size: contain;
 float: right;
 margin-top: -20%;
 margin-right: 4%;
}
#parent7{
  width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: contain;
    margin-left: -5%;
    margin-top: -8%;
  
}
#parent8 {
width: 280px;
    height: 280px;
    border-radius: 50%;
    background-size: contain;
    margin-top: -2%;
    margin-left: 15%;
}
#parent9{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: contain;
    margin-left: 15%;
    margin-top: -17%;
}
#parent10{
  width: 200px;
      height: 200px;
      border-radius: 50%;
      background-size: contain;
      margin-top: 10%;
      margin-left: 55%;
}
#parent11{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-size: contain;
  margin-top: -25%;
  margin-left: -7%;
}
.child {
  background-color: #00bfa5;
    position:relative;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    font-family: Avenir_medium
}
#child1{
  position:relative;
  top: 75%;
  left: 55%;
  width: 275px;
  padding: 10px 20px;

  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
-moz-box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#child2{
  top: 5%;
  left: 90%;
  width:141px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
-moz-box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#child3{
  top: 95%;
  right: 90%;
  padding-left: 10px;
  width: 192px;
  padding: 10px 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
-moz-box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#child4{
  position: relative;
  width: 50px;
  height: 50px;
  top:20%;
  right: 5%;
}
#child5{
 position: relative;
    width: 120px;
    height: 120px;
    margin-top: -39%;
    left: 78%;
}
#child6{
  top: 92%;
  right: 30%;
  padding-left: 10px;
  width: 275px;
  padding: 10px 15px;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
-moz-box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#child7{
  top: 5%;
  right: 150%;
  width: 141px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
-moz-box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
#child8{
  top: 90%;
  left: 60%;
  width: 192px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
-moz-box-shadow:  0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
/* end */
.main-content{
height: 90%;
width: 100%;
}

/* end */
/* impact */
/* p{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 400;
} */

/* end */
/* about */
.col-md-6.ecolats-right .col-md-12{              
  margin-top: 30px;
}
#ileft{
  margin-top: 30px !important
}
/* end */
.owl-item{
  width:272px !important;
  margin-right:22px !important;
}
.owl-nav{
  position:absolute;
  top:18%;
  width:100%;
}
.owl-next{
  display:inline;
  position:relative;
  float:right;
}
.owl-prev{
display: inline;
}
.card .lead img{
  width: 50%;
}
.achievement-card{
  height: 190px;
    border-radius: 8px;
      width: 272px !important;
}
.achievement-card .col-centered.top{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60%;
  object-fit: contain;
}
.achievement-card .col-centered img{
  height: 80px;
  width: 80px;
  margin-left: 34%;
}
.achievement-card .col-centered .mc{
  height: 68px;
  width: 120px;
  margin-left: 27%;
  margin-top: 8px
}
.carousel-card{
  border-radius:5px;
  
}

.achievement-container{
  margin-top: 1%;
  background-color:#00bfa5;
  padding-bottom: 0% ;
  height:68vh;
}
.achievement-card-img{
  height: 190px;
    width: auto;
    border-radius:21px;
    box-sizing: border-box;
    border: 14px solid white;
}
.achievement-card .text-center{
  margin:auto;
}
.achievement-img{
  margin: auto !important;
    width: 95% !important;
    border-radius: 8px !important;
    height:90%;
}
/* end */
/* .heading{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 300;
font-size: 2em;
} */
.mt4{
  margin-top: 24px;
  margin-bottom: 20px;
}

.curve{
  background-color:#2e3139;
  color:#2e3139
}
.curve:before
{
  height: 35vh;
  border-radius:0 0 80% 80%;
  background-color:white;    
display: block;
  vertical-align: middle;
  content: '';
  margin-left:-8%;
  margin-top:-6%;
}
.submit_butn {
  background-color: #00bfa5;
  color: white;
  padding: 12px 0px;
  width: 45%;
  margin: 5% 18%;
  font-family: Avenir_book;
}
.main {
  font-family:Arial;
  width:90%;
  display:block;
  margin:0 auto;
}

.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:20px 20px; 
  background:rgb(63, 58, 58);
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}
.rewater{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin: 5%;
}
.rewater.leftimg{

}
.rewater-text{
margin-top: 3%;
}
.rewater-content-slider{
  height: 600px;;
}
.abc{
  width: 80%;
  margin-left: 10%;
  background-color: red
}
#jssor_3{
  position:relative;
  margin:0 auto;
  top:-150px;
  left:0px;
  width:1340px;
  height:200px;
  visibility:hidden;
}
.block-text{
  font-family: Avenir_heavy;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #fffffff0;
}
#block-text1{
  width:324px;
  margin-left:8%;
}
#block-text2{
  width:400px;
  margin-left: 3%;
    margin-right: 2%;
}
#block-text4{
  width:324px;
}
.res{
  position: relative;
  width: 100%;
  color: white;
  margin-bottom:10%;
  margin-top:-9%;
}
.slide3{
  margin-top: 62%;
  height: 280px;
}
.slide4{
  margin-top: 52%;
  height: 280px; 
}
.rewater_1{
  margin-top:10% !important;
}
.head-challenge{
  width: 90%;
  margin-left: 9%;
  margin-right: 0%
}
#email, #message {
  border-radius: 20px;
  width: 78%;
  margin-top: 1%;
}
.abcd{
  background-color: #32D2B1;
  color: yellow
}
.combination{
  text-align: center
}
.container-fluid{
  padding-left: 5%;
  padding-right: 5%
}
.job{
padding-left: 36px;
    font-family: Avenir_book;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 4%;
    margin-left: -2%;
}
.job ul,ol{
  padding-left: 32px;
}
.BannerCareer{
  height: 94vh;
  width: 100%
}
.media #mdimg1{
  margin-left: 30px;
  width: 124px;
  height: 26px;
  object-fit: contain;
  opacity: 0.7;
}
.media #mdimg2{
  margin-left: 30px;
  width: 227px;
  height: 24px;
  object-fit: contain;
  opacity: 0.7;
}

.media #mdimg3{
  margin-top: 3px;
  margin-left: 30px;
  width: 107px;
  height: 20px;
  object-fit: contain;
  opacity: 0.7;
}
.media{
  color:#fff;
  font-family:ProximaNovaSoft-Bold;
  font-size: 24px;
    margin-left: 18%;
}
.resMedia{
 height: 60px; 
}
.form_cont{
  margin-left:10%;
  margin-top:9%;
}
.first-group{
width:37%;
}
.impact{
  padding-left:5%;
  padding-right:5%;
}
.el_hr{
  display:none;
}
.map_dim{
  width: 100%;
    height: 500px !important;
}
.map_text{
      padding: 2% 0% 0% 45%;
    font-size: 20px;
    font-family: Avenir_book;
    font-weight: bold;
    width: 100%;
}
.map_sec{
  margin-top:6%;
}
.sec1_1{
  margin-right:-15%;
}
.sec1_2{
  margin-right:-7%;
}
.sec1_sub1{
  margin-right:-3%;
  margin-left: 2%;
}
.sec1_sub2{
  margin-right:-5%;
}
.index_1{
  width:218px;
}
.small_disp{
  margin-left:17%;
}
.small_disp2{
  margin-left:-2%;
}
#roorkee{
  max-width:347px;
}
#surrey{
  max-width:384px;
}
#oil{
  max-width:432px;
}
.elats_right{
  max-width:522px;
}
.elats_left{
  max-width:540px;
}
.index_elat{
  margin-left:-3%;
}
.elat_1{
  margin-left:6%;
  width:1000px;
}
.el_align3,.el_align1 p{
  width:520px;
  line-height:32px !important;
}
#block-text11{
      margin-left: 11%;
    margin-right: -6%;
}
#block-text22{
  margin-right:-4%;
}
#block-text33{
  margin-right:-7%;
}
#check{
      width: 100%!important;
    height: 984px!important;
    margin-top: 0;
    margin-bottom: -175%;
  }
#jssor_2{
  position:relative;
  margin:0 auto;
  top:0px;
  left: 10px;
  width:400px;
  height:400px;
  visibility:hidden;
  border-radius:50%
}
#jssor_2 div[data-u="slides"]{
  cursor:default;
  position:relative;
  top:0px;
  left: 10px;
  width:400px;
  height:400px;
  overflow:hidden;
  border-radius:50%
}
#jssor_2 div.jssorb051[data-u="navigator"] div[data-u="prototype"]{
  width:12px;
  height:12px;
}
.jssorb051{
  position:absolute;
  bottom:-50px;
  right:12px;
}
#jssor_1{
  position:relative;
  margin:0 auto;
  top:0px;
  left:0px;
  width:1380px;
  height:240px;
  visibility:hidden;
}
#jssor_1 div[data-u="slides"]{
  cursor:default;
  position:relative;
  top:0px;
  left:0px;
  width:1380px;
  height:240px;
  overflow:hidden;
}
#jssor_5{
  position:relative;margin:0 auto;top:0px;left:0px;width:1200px;height:300px;overflow:hidden;visibility:hidden;
}
#jssor_5 div[data-u="slides"]{
  cursor:default;position:relative;top:0px;left:0px;width:1200px;height:700px;overflow:hidden;
}
#jssor_3 div[data-u="slides"]{
  cursor:default;
  position:relative;
  top:0px;
  left:0px;
  width:1340px;
  height:240px;
  overflow:hidden;
}

/*  */
.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.popuptext {
  display: table;
}
.popuptext p {
  margin-bottom: 10px;
}
.popuptext span {
  font-weight: bold;
  float: right;
}
/* Popup Text */

/* Icon CSS */
.item {
  position: relative;
}
.item i {
  display: none;
  font-size: 4rem;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.item a {
  display: block;
  width: 100%;
}
.item a:hover:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.item a:hover i {
  display: block;
  z-index: 2;
}
.owl-item{
  width:272px !important
}
.show{
  height: 100vh
}
@media screen and (min-width: 768px) {
  #homelink{
    display: none;
  }
}

#jssor_5 div#testimoni {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 1200px;
  height: 700px!important;
  overflow: hidden;
}
.cf{
  min-width: 790px;
}
.elat_video{
  width: 85vh !important;
    height: 85vh !important;
    margin-left: -14%;
    object-fit: cover;
    margin-top: -2%;
  border-radius:50%;
}
.rewater_video{
  width: 85vh !important;
    height: 85vh !important;
    margin-left: -14%;
    object-fit: cover;
    margin-top: -20%;
  border-radius:50%;
}
.e_play_btn{
      position: absolute;
    margin-top: -66%;
    margin-left: 35%;
}
.r_play_btn{
      position: absolute;
    margin-top: -66%;
    margin-left: 35%;
}
/* -------------------career-------------------------*/
.jobs{
  background: #eceef4;
    border-radius: 50px;
    padding: 15px 50px;
    margin-left: 32%;
    font-weight: bold;
    font-family: ProximaNovaSoft-Bold;
}
select:focus{
  outline: none !important;
}
.show_jobs{
  margin-left: 2%;
    font-family: Avenir_book;
    font-size: 18px;
      margin-top: 2%;
      transition-duration:0.8s;
}
.tabs-list-container{
background-color: #C5CAE9;
  max-width: 700px;
  overflow-x: hidden;
  border-radius:50px;
  margin:auto;
  
}
.tabs-list{
list-style: none;
    padding: 0;
    margin:auto;
    position:relative;
    display: inline-flex;
    transition-duration: 0.8s;

}
.tabs-list li{
  background-color: #C5CAE9;
      width: 175px;
      text-align:center;
      display: flex;
      cursor:pointer;
      font-size:15px;
      padding:10px;
      font-family:ProximaNovaSoft;
      color:#000000de;
      transition-duration: 0.8s;
      justify-content: center;
      align-items: center;
      border-radius:100px

}
.tabs-list li:hover{
background-color: #44d8c2;
  
}
li.tabs-active{
background-color: #44d8c2;
}
.tabs-title{
  margin:auto;
}
.tabs-content-container{
  margin-top:2%;
}
.arrow{
  margin-top:2%;
  position:relative;
  cursor:pointer;

}
.left-arrow{
  left:11%;
}
.right-arrow{
  right:11%;
}
#cic-logo{
    height: 80px;
    width: 110px;
    margin-left: 30%;
}
#sulabh-logo{
    height:unset;
    width:unset;
    margin-left:38%;
    
}
#sulabh-img-container{
    padding-top:6px;
}
